<%= form_for(hierarchy) do |f| %>
  <% if hierarchy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hierarchy.errors.count, "error") %> prohibited this hierarchy from being saved:</h2>

      <ul>
      <% hierarchy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :parent_id %>
    <%= f.number_field :parent_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
