  <tr>
    <td>
    	<% if hierarchy.parent_id.blank? %>
        	<%= hierarchy.name %>
    	<% end %>
	</td>
    <td>
    	<% if hierarchy.parent_id.present? %>
        	<%= hierarchy.name %>
    	<% end %>
	</td>
    <td><%= hierarchy.parent_id %></td>
    <td><%= link_to 'Show', hierarchy %></td>
    <td><%= link_to 'Edit', edit_hierarchy_path(hierarchy) %></td>
    <td><%= link_to 'Destroy', hierarchy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
