<p id="notice"><%= notice %></p>

<h1>Hierarchies</h1>

<table>
  <thead>
    <tr>
      <th>Parent Name</th>
      <th>Child Name</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hierarchies.each do |hierarchy| %>
   	  <%= render 'oneline', hierarchy: hierarchy %>
      <% hierarchy.children.each do |child| %>
      	<%= render 'oneline', hierarchy: child %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hierarchy', new_hierarchy_path %>
