<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hierarchy.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @hierarchy.parent_id %>
</p>

<%= link_to 'Edit', edit_hierarchy_path(@hierarchy) %> |
<%= link_to 'Back', hierarchies_path %>
